@CHARSET "UTF-8";

body { font-family: verdana, arial, helvetica, sans-serif; font-size: 0.75em; }
img { border: 0px }
a { outline: none; }

div.sfg-meta table td:first-child { padding-right: 10px; }
div.sfg-head { border-bottom: 1px dashed #e7e7e7; margin-bottom: 10px; }

div.sfg-breadcrumb { text-align: left; margin: 5px 0 5px 5px; }
a.sfg-breadcrumb { color: black; text-decoration: none;}
a.sfg-breadcrumb:hover { color: red; text-decoration: underline; }


/* Folder contents view */
div.sfg-imagelist { overflow: auto; min-width: 150px; }
div.sfg-image { border: 1px solid #e7e7e7; padding: 10px; margin: 10px; background-color: #f0f0f0; font-size: 0.90em; display: table; float: left; }
div.sfg-image a { background-color: #fff; display: block; border: 1px solid #e7e7e7; }
div.sfg-selected { background-color: #000066; }
div.sfg-image img { vertical-align: bottom; }
div.sfg-image p { display:table-caption; caption-side:bottom; }


/* Single image and navigation display */
div.sfg-nav { position: absolute; z-index: 1; bottom: 0; left: 0; width: 100vw; background-color: white;}
div.sfg-nav div.sfg-imagelist { white-space: nowrap; height: 70px; overflow-x: scroll; }
div.sfg-nav div.sfg-image { display: inline-block; float: none; padding: 2px; margin: 0 5px 0 0; }
div.sfg-nav div.sfg-selected { background-color: red; }
div.sfg-nav div.sfg-imagelist img { width: auto; height: auto; max-height: 50px; }
div.sfg-nav div.sfg-image p { display: none; }

div.sfg-container { position: absolute; top: 0; bottom: 70px; left: 0; right: 0; text-align: center; background-color: white; }
div.sfg-container h1 { padding: 0; background: 0; color: #000; position: relative; margin-top: -80px; }
div.sfg-container a.sfg-back { position: relative; display: block; float: right; margin-top: -24px; width: 50px; z-index: 200; text-decoration: none; font-size: 18px; font-weight: bold; color: white; background-color: black; border: 2px solid black; border-radius: 6px 6px 0 0; }

div.sfg-single { height: 100%; background-color: black; }
div.sfg-single a.sfg-previous { position: absolute; z-index: 100; left: 0; right: 50%; height: 100%; text-align: left; background-image:url(about:blank); }
div.sfg-single a.sfg-previous:hover { background:url(images/left.png) no-repeat 0% 50%; }
div.sfg-single a.sfg-next { position: absolute; left: 50%; right: 0; height: 100%; text-align: right; background-image:url(about:blank); }
div.sfg-single a.sfg-next:hover { background:url(images/right.png) no-repeat 100% 50%; }
div.sfg-single img { height: auto; width: auto; max-width: 100%; max-height: 100%; } /*max-height: 100vh; max-width: 100vw; display: none; }*/

.sfg-alpha20 { background: rgb(255, 255, 255) !important; background: rgba(255, 255, 255, 0.3) !important; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF, endColorstr=#4CFFFFFF); }
