@CHARSET "UTF-8";

body { font-family: verdana, arial, helvetica, sans-serif; font-size: 0.75em; }
img { border: 0px }
a { outline: none; }

div.sidebar { position: fixed; top: 0px; bottom: 0px; overflow: auto; width: 200px; }
div.content { position: fixed; top: 0px; bottom: 0px; right: 0px; left: 220px; overflow-y: scroll; padding: 5px; }

div.meta table td:first-child { padding-right: 10px; }
div.head { border-bottom: 1px dashed #e7e7e7; margin-bottom: 10px; }

a.breadcrumb { color: blue; text-decoration: none; }
a.breadcrumb:hover { color: red; text-decoration: underline; }

div.imagelist { overflow: auto; min-width: 150px; }

div.image { border: 1px solid #e7e7e7; float: left; padding: 10px; margin: 10px; background-color: #f0f0f0; font-size: 0.90em; }
div.image a { background-color: #fff; display: block; border: 1px solid #e7e7e7; }
div.selected { background-color: #000066; }
div.image img { vertical-align: bottom; }

div.single { position: relative; display: inline-block; }
a.previous { position: absolute; left: 0; right: 50%; height: 100%; }
a.next { position: absolute; left: 50%; right: 0; height: 100%; }
div.single a:hover { border: 1px solid white; }

